
  <mat-toolbar style="padding-left: 100px; padding-right: 100px;">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="closeDrawer()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Admin Panel</span>
    <span class="example-spacer"></span>
    <a routerLink="">
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
    </a>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
